.DS_Store
.idea
*.swp
*.pyc

data/*/data
models/__pycache__/
models/*/__pycache__/
models/*/preprocess/__pycache__/
utils/__pycache__/
models/checkpoints/
models/metrics/*.csv
models/sent140/embs.json
*/__pycache__/
models/.ipynb_checkpoints/debugger2-checkpoint.ipynb
data/shakespeare/preprocess/__pycache__/
models/.ipynb_checkpoints/debugger3-checkpoint.ipynb
models/.ipynb_checkpoints/debugger4-checkpoint.ipynb
models/.ipynb_checkpoints/debugger5-checkpoint.ipynb
.ipynb_checkpoints/log_loss_trial-checkpoint.ipynb
	log_loss_trial.ipynb
log_loss_trial.ipynb
data/MNIST
models/supyquantile/algorithms/
models/.ipynb_checkpoints/debugger6-checkpoint.ipynb
models/.ipynb_checkpoints/regularisation_analysis-checkpoint.ipynb
models/sent140/embs300.json
models/sent140/glove.6B.300d.txt
models/sent140/glove.6B.50d.txt
models/sent140/embs.json
models/dataset_constants/femnist*
*__pycache__
*.pyc
models/outputs/exp/femnist/.ipynb_checkpoints/reader_2-checkpoint.ipynb
models/outputs/exp/femnist/PlotterClass.py
models/outputs/exp/femnist/figs/femnist_results.pdf
models/outputs/exp/femnist/reader_2.ipynb
models/outputs/exp/sent140/.ipynb_checkpoints/reader_2-checkpoint.ipynb
models/outputs/exp/sent140/PlotterClass.py
models/outputs/exp/sent140/figs/
models/outputs/exp/sent140/reader_2.ipynb
